body{
  background-color: white;
  font-size: 12px;
  font-family:"Century Gothic",sans-serif;
  line-height: 28px;
  margin: 0px;

}
header {
    background-color: white;
    position:fixed;
    top: 0;
    height: 55px;
    font-family: "MS Gothic",Helvetica,sans-serif;
    margin:auto;
    width:100%;
    text-shadow: 1px 1px 1px ;
}

nav {
    background-color: white;
    padding: 5px;
    position:fixed;
    top: 0;
    right: 0;
    margin: 0 auto;
    font-size: 15px;
}
nav ul {
    padding:1px;
    margin:0.1em;
    display: inline-block;
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding:0.1em;
    list-style-type:none;
}

nav ul li a:link,a:visited
{
    display:block;
    width:80px;
    font-weight:bold;
    color:#373737;
    text-align:center;
    padding:3px;
    text-decoration:none;
}
nav ul li a:hover,a:active
{
    background-color: #DCD0C0;
}

#container{
  width: 1280px;
    margin-top:43px;
}
#Banner{
  width: 1280px;
  height: 200px;
  background-image: url("images/BG5.jpg");
  margin:30px auto;
  clear:both;

}
#PageBody{
  width:1280px;
  margin:0px auto;
  height:400px;
  }
#SiderBar{
 width:15%;
 text-align:left;
 float:left;
 clear:left;
 overflow:hidden;
 margin:10px 0px 10px 20px;}

#SiderBar ul{
  list-style-type:none;
  margin: 0px;
}
#SiderBar ul li{
  margin: 0px 10px;
  display: block;
  line-height: 30px;
  text-decoration: none;
  font-size: 16px;
  padding-top: 10px;
  }
#SiderBar a:link{
  text-decoration: none;
}
#SiderBar a:visited{
  color: #333;
}
#SiderBar a:hover{
  background-color: black;
}
#MainBody{
 width:1000px;
 float:right;
 clear:right;
 overflow:hidden;
 text-align:left;
}
 h6{font-family: Garamond,serif;font-size: 220%;padding:5px 0px;}
 h6,h4{line-height: 10px;}

#FAQ{
  width:90%;
  overflow:hidden;
  margin-bottom:60px;

}
#about{
  width:1280px;
  clear:both;
  overflow:hidden;
  margin: 60px 0px 60px 0px;
  padding: 10px;
}
#about img{
  max-width: 100%;
}
#location{
  width:1280px;
  clear:both;
  overflow:hidden;
  margin: 60px 0px 60px 0px;
}
img{
  box-shadow:2px 2px 3px #aaaaaa;
}
#contact{
  width:99%;
  clear:both;
  overflow:hidden;
  margin: 60px 0px 60px 0px;


}
#contact #info{
  width: 30%;
  float:left;
  padding: 20px;
}
#contact #input{
  width: 60%;
  padding: 20px 0px 30px 5px;;
  float:right;
}
textarea {
    width: 95%;
    height: 230px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
    font-family:"Century Gothic",sans-serif;
    resize: none;
}

input[type=text], select {
    width: 30%;
    padding: 5px 20px;
    margin: 5px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 15%;
    background-color: #333;
    color: white;
    padding: 6px 20px;
    margin: 8px 33px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#footer{
  width:1280px;
  height: 100px;
  float:none;
  clear:right;
  overflow:hidden;
  margin-top: 10px;
  padding: 0px 10px;
  background-color:#333;
  color: white;
  border-radius: 3px;
  box-shadow:10px 20px 10px #aaaaaa;
}
