body {
    background-color: #F4F4F4;
    text-align: center;
    font-family: Calibri,Helvetica,sans-serif;
    color: #373737;
}

header {
    background-color: white;
    position:fixed;
    top: 0;
    height: 43px;
    font-family: "MS Gothic",Helvetica,sans-serif;
    margin:auto;
    width:100%;
    text-shadow: 1px 1px 1px ;
}

main {
    margin-top:43px;
}

nav {
    background-color: white;
    padding: 5px;
    position:fixed;
    top: 0;
    right: 0;
    margin: 0 auto;
    font-size: 15px;
}
nav ul {
    padding:1px;
    margin:0.1em;
    display: inline-block;
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding:0.1em;
    list-style-type:none;
}

nav ul li a:link,a:visited
{
    display:block;
    width:80px;
    font-weight:bold;
    color:#373737;
    text-align:center;
    padding:3px;
    text-decoration:none;
}
nav ul li a:hover,a:active
{
    background-color: #DCD0C0;
}

form {
    font-size: 20px;
}

footer {
    clear: both;
    background-color: #FFFFFF;
    font-size: 15px;
    vertical-align: middle;
    color: rgba(255.255.255.0.5);
    margin-bottom: 0;
}

img {
    width: 100%;
}

form legend {
    text-align: left;
}

.subtitle {
    font-family:  Helvetica, sans-serif;
    font-size: 15px;
    background-color: #DCD0C0;
    padding: 1px;
    width: 90%;
    margin: 0 auto;
}

.topbox {
    width: 80%;
    margin: 0 auto;
}

.topbox img {
    width: 80%;
    margin: 0 auto;
}
#movies {
    width: 90%;
    margin: 0 auto;
}
#movies .downbox {
    width: 25%;
    margin: 0 auto;
    float:left;
    vertical-align: middle;
}
#movies .downbox img{
    width: 60%;
    margin: 5% auto;
}

.halfbox {
    width: 46%;
    float:left;
    margin: 0 1%;
}

.halfdownbox {
    width: 22%;
    float:left;
    margin: 0 auto;
    padding: 0 1%;
    font-size: 18px;
    vertical-align: bottom;
}

#timetable {
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

#carttable {
    background-color: rgba(0, 0, 0, 0.71);
    font-style: inherit;
    font-weight: bold;
    color: white;
}
#carttable img{
    magin: 0 auto;
}

#formbox {
    width: 80%;
    margin: 0 auto;
}
#formbox img {
    width:60%;
}

.seatForm {
    width: 30%;
    float:left;
    margin: 0 1.6%;
    text-align: left;
}

#button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    outline: none;
    color: #373737;
    background-color: #DCD0C0;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #999;
}


#button:hover {background-color: rgba(0, 23, 106, 0.78)
}

#button:active {
    background-color: #00176a;
    box-shadow: 0 1px #666;
    transform: translateY(4px);
}

#submit {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    outline: none;
    color: #fff;
    background-color: rgba(0, 16, 69, 0.85);
    border: none;
}


table{
    /*border: 0.5px red solid;*/
    font-size: 13px;
    font-family:"Century Gothic",sans-serif;
    line-height: 28px;
    width:70%;
    margin: 20px auto;
    text-align: left;
}
td{
    width: 10%;
    /*border: 0.5px red solid;*/
}

.choice{
    background-color: #66CC00;
    color: white;
    border-radius: 5px;

}
.theatre{
    font-size: 14px;
    font-weight:bold;
    background-color: #f7c858;
    border-radius: 5px;
}
.rest{
    background-color: #f73300;
    border-radius: 5px;
}
.timetable {
    text-align: center;
}

h4{
    background-color:#333;
    color: white;
    padding-left:15px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-style:italic;
    font-size: 20px;
}

#s_mov {
    width: 90%;
    margin: 0 auto;
}

#s_mov img{
    width: 15%;
    min-width: 200px;
    margin: 2.5%;
}

.on{border:7px solid #C0B283;}
.off{border:7px solid rgba(255, 255, 255, 0);}

.t_radio {
    display: none;
}
.t_radio + label {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    border-radius: 10px;
    display: inline-block;
    position: relative;
    padding: 16px;
}

.mon-radio + label {
    background-color: rgba(138, 138, 138, 0.23);
}

.t_radio:checked + label {
    background-color: #DCD0C0;
    color: #373737;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}


.black_overlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}
.white_content {
    display: none;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    border: 16px solid lightblue;
    background-color: white;
    z-index:1002;
    overflow: auto;
}
.white_content_small {
    display: none;
    position: absolute;
    top: 20%;
    left: 30%;
    width: 40%;
    height: 50%;
    border: 16px solid lightblue;
    background-color: white;
    z-index:1002;
    overflow: auto;
}

/*The following code is required for the third party plug-in, */
/*Copyright 2013, 2014 Mateusz Markowski, */
/*https://github.com/mateuszmarkowski/jQuery-Seat-Charts*/
.demo{width:700px; margin:40px auto 0 auto; min-height:450px;}
@media screen and (max-width: 360px) {.demo {width:340px}}
.front{width: 300px;margin: 5px 32px 45px 32px;background-color: #f0f0f0;	color: #666;text-align: center;padding: 3px;border-radius: 5px;}
.booking-details {float: right;position: relative;width:200px;height: 450px; }
.booking-details h3 {margin: 5px 5px 0 0;font-size: 16px;}
.booking-details p{line-height:26px; font-size:16px; color:#999}
.booking-details p span{color:#666}
div.seatCharts-cell {color: #182C4E;height: 25px;width: 25px;line-height: 25px;margin: 3px;float: left;text-align: center;outline: none;font-size: 13px;}
div.seatCharts-seat {color: #fff;cursor: pointer;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
div.seatCharts-row {height: 35px;}
div.seatCharts-seat.available {background-color: #B9DEA0;}
div.seatCharts-seat.focused {background-color: #76B474;border: none;}
div.seatCharts-seat.selected {background-color: #E6CAC4;}
div.seatCharts-seat.unavailable {background-color: #472B34;cursor: not-allowed;}
div.seatCharts-container {border-right: 1px dotted #adadad;width: 400px;padding: 20px;float: left;}
div.seatCharts-legend {padding-left: 0px;position: absolute;bottom: 16px;}
ul.seatCharts-legendList {padding-left: 0px;}
.seatCharts-legendItem{float:left; width:90px;margin-top: 10px;line-height: 2;}
span.seatCharts-legendDescription {margin-left: 5px;line-height: 30px;}
.checkout-button {display: block;width:80px; height:24px; line-height:20px;margin: 10px auto;border:1px solid #999;font-size: 14px; cursor:pointer}
#selected-seats {max-height: 150px;overflow-y: auto;overflow-x: none;width: 200px;}
#selected-seats li{float:left; width:72px; height:26px; line-height:26px; border:1px solid #d3d3d3; background:#f7f7f7; margin:6px; font-size:14px; font-weight:bold; text-align:center}
/*up to here*/